html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.transition-card {
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

.transition-card:hover {
            transform: translateY(-3px);
            box-shadow: 0 10px 20px rgba(0,0,0,0.1) !important;
        }

  /*  profile */
  .profile-card {
            max-width: 1020px;
            background: #ffffff;
            border-radius: 16px;
            overflow: hidden;
            position: relative;
        }

        .profile-cover {
            height: 170px;
            background: #0057ff; /* mavi alan */
        }

        .profile-avatar {
            position: absolute;
            left: 70px;
            top: 140px; /* avatarın cover’dan aşağı taşmasını sağlar */
        }

        .avatar-circle {
            width: 190px;
            height: 190px;
            border-radius: 100%;
            background: #e5e5e5;
            border: 6px solid #ffffff; /* beyaz çerçeve */
        }

        .profile-body {
            padding: 140px 70px 70px; /* üst padding avatar için geniş */
        }

        .profile-name {
            font-size: 1.6rem;
            font-weight: 700;
        }

        .profile-location {
            color: #777;
        }
        .settings-icon {
    font-size: 25px;
    color: #4b5563;
    background: #ffffff;
    border-radius: 50%;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.18);
    text-decoration: none;
    transition: 0.2s ease;
}

.settings-icon:hover {
    background: #f3f4f6;
    transform: scale(1.08);
}

  